.welcomePage{
    background: url('../img/bg.png') no-repeat bottom center;
    background-size: 100% 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    @include breakpoints(xs){
        padding-left: .5rem;
        padding-right: .5rem;
    }
    @include breakpoints(xsMin){
        padding-top: 2rem;
        padding-bottom: 2rem; 
    }
    &_left{
        position: relative;
    }
    @include breakpoints(mdMin){ 
        height: 100vh;
    }
}

